APP_NAME="Niateks House CRM"
APP_ENV=staging
APP_KEY=
APP_DEBUG=false
APP_URL=https://test.koza.niateks.com
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=niatekscom_koza_test
DB_USERNAME=niatekscom_koza_test
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_COOKIE=koza_test_session
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
MAIL_MAILER=array
LOG_CHANNEL=single
